{% extends 'base.html' %}
{% block body %}
<div>
    <h1>Registration</h1>
    <form method="POST">
        {{form.hidden_tag()}}

        {{form.username.label}}
        {{form.username()}}

        {{form.email.label}}
        {{form.email()}}

        {{form.password.label}}
        {{form.password()}}

        {{form.confirm_password.label}}
        {{form.confirm_password()}}
        
        {{form.submit()}}
    </form>
</div>
<div>
    <h1>Login Form</h1>
    <form method="POST">
        {{form.hidden_tag()}}

        {{form.email.label}}
        {{form.email()}}

        {{form.password.label}}
        {{form.password()}}

        {{form.remember_me.label}}
        {{form.remember_me()}}
        
        {{form.submit()}}
    </form>
</div>
    
{% endblock body %}