<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    <nav>
        <a href="{{url_for('auth.profile')}}"> Profile </a>
        <a href="{{url_for('auth.register')}}"> Register </a>
        <a href="{{url_for('auth.login')}}"> Login</a>
        <a href="{{url_for('auth.logout')}}"> Logout</a>
        {% if current_user.is_authenticated and current_user.role == "Admin" %}
            <a href="{{ url_for('admin.dashboard') }}">
             Admin Dashboard
             </a>
        {% endif %}
    </nav>
    {% block body %}
        
    {% endblock body %}
</body>
</html>