{% extends 'base.html' %}

{% block body %}
<section class="min-h-[calc(100vh-60px)] flex items-center bg-gray-100">
    <div class="max-w-7xl mx-auto px-10 py-20">
        <div class="max-w-3xl">
            <p class="mb-5 text-sm font-semibold tracking-widest uppercase text-blue-600">Technology • AI • Innovation</p>
            <h1 class="text-5xl md:text-6xl font-bold tracking-tight text-gray-900 leading-tight ">Ideas shaping the future of Technology and AI</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600"> Discover thoughtful articles about artificial intelligence,
                technology, programming, and the ideas changing our world.</p>
            <div class="mt-8 flex flex-wrap gap-4">
                <a href="" class="rounded-full bg-gray-300 px-6 py-3 text-sm font-semibold text-gray-900 hover:bg-gray-500 transition">Explore Articles</a>
                <a href="" class="rounded-full bg-gray-300 px-6 py-3 text-sm font-semibold text-gray-900 hover:bg-gray-500 transition">Discover Categories</a>
            </div>
        </div>
    </div>
</section>
    <div>
        <h1>Latest Post</h1>
        <p>Discover the latest articles from our community</p>
        {% if posts %}
            <div>
                {% for post in posts %}
                <article>
                     {% if post.cover_img %}
                        <img
                            src="{{ url_for('static', filename='uploads/' + post.cover_img) }}"
                            alt="{{ post.title }}"
                        >
                    {% endif %}
                    <div>
                        <h2>{{post.title}}</h2>
                        <p>
                            {{post.summary}}
                        </p>
                        <p>
                            {{post.created_at.strftime('%B %D, %Y')}}
                        </p>
                        <a href="{{url_for('post.post_detail', slug = post.slug)}}"> Read More → </a>
                    </div>
                </article>
                {% endfor %}
            </div>
        {% else %}
        <div>
            <h2>
                No post yet
            </h2>
            <p>
                Be the First one to publish a post!
            </p>
        </div>
        {% endif %}
    </div>
    
{% endblock body %}